# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.env
.vscode/
.idea/
.DS_Store

# --- Flutter / Dart ---
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.buildlog/
build/
*.iml

# --- Android / IntelliJ ---
*.apk
*.gradle
local.properties
*.keystore
.cxx/
captures/
.externalNativeBuild/
.idea/
*.iml
